<footer class="footer" id="bottom">
    <div class="container">
        <h2 class="footer_brandname">Store</h2>
        <nav class="footer_nav d-flex flex-wrap">
            <div class="footer_nav-group">
                <h3 class="footer_nav-group_trigger">My Account</h3>
                <ul class="footer_nav-group_list">
                    <li><a href="javascript:void(0)">How to buy</a></li>
                    <li><a href="javascript:void(0)">General Information</a></li>
                    <li><a href="javascript:void(0)">Payment</a></li>
                    <li><a href="javascript:void(0)">Shipping</a></li>
                    <li><a href="javascript:void(0)">Returns</a></li>
                    <li><a href="javascript:void(0)">Exchanges</a></li>
                    <li><a href="javascript:void(0)">Gift Card</a></li>
                    <li><a href="javascript:void(0)">Profile</a></li>
                </ul>
            </div>
            <div class="footer_nav-group">
                <h3 class="footer_nav-group_trigger">Company</h3>
                <ul class="footer_nav-group_list">
                    <li><a href="javascript:void(0)">About us</a></li>
                    <li><a href="javascript:void(0)">Offices</a></li>
                    <li><a href="javascript:void(0)">Stores</a></li>
                    <li><a href="javascript:void(0)">Work with us</a></li>
                    <li><a href="javascript:void(0)">Contact</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                </ul>
            </div>
            <div class="footer_nav-group">
                <h3 class="footer_nav-group_trigger">Policies</h3>
                <ul class="footer_nav-group_list">
                    <li><a href="javascript:void(0)">Privacy</a></li>
                    <li><a href="javascript:void(0)">Terms</a></li>
                    <li><a href="javascript:void(0)">Shipping</a></li>
                    <li><a href="javascript:void(0)">Gift Card Conditions</a></li>
                </ul>
            </div>
        </nav>
        <ul class="footer_socials d-flex justify-content-center">
            <li><a href="https://facebook.com" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a href="https://dribbble.com" target="_blank"><i class="icon-dribbble"></i></a></li>
            <li><a href="https://linkedin.com" target="_blank"><i class="icon-linkedin"></i></a></li>
        </ul>
        <p class="footer_copy">Copyright &copy; 2018 | Hogash.com</p>
    </div>
</footer>
<a href="javascript:void(0)" class="scroll_top"></a>
<a href="#bottom" class="scroll_bottom"></a>
<script src="js/common.js"></script>
