<nav class="navbar">
    <div class="container-fluid navbar_container d-flex align-items-center justify-content-between">
        <div class="navbar_brand d-flex align-items-center">
            <button class="hamburger hamburger--minus" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <a class="navbar_brand-link" href="index.html">Store</a>
        </div>
        <div class="navbar_user d-flex align-items-center">
            <form class="navbar_user-search d-flex" action="">
                <input class="navbar_user-search_input" type="text" name="searchQuery" id="searchQuery" placeholder="Search...">
                <button class="navbar_user-search_btn" type="submit">
                    <i class="icon-search"></i>
                </button>
            </form>
            <div class="navbar_user-account d-flex align-items-center">
                <a class="triggerLoginModal" id="loginlink" href="javascript:void(0)">Login</a> /
                <a id="joinlink" href="join.html">Join</a>
            </div>
            <div class="navbar_user-cart">
                <a href="cart.html">
                    <i class="icon-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid navbar_container">
        <ul class="navbar_submenu" id="navbar_submenu">
            <li class="navbar_submenu-link">
                <a href="index.html">Home</a>
            </li>
            <li class="navbar_submenu-link">
                <a href="about.html">About</a>
            </li>
            <li class="navbar_submenu-link">
                <a href="catalog.html">Catalog</a>
            </li>
            <li class="navbar_submenu-link">
                <a href="blog.html">Blog</a>
            </li>
            <li class="navbar_submenu-link">
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>